.form-switch {
    .form-check-input {
        width: 3em !important ;
        height: 1.3em !important; 
        background-image: "/images/busqueda.png" !important;
    }
}
#carritoCompras{
    background-color: transparent;
    border: 0;
}
.dropdown-toggle::after {
    display: none !important;
}