.cardIMGTop{
    display: flex;
    justify-content: center;
    .imgTop{
        width: 75%;
    }
}
.cardCarrito{
    .cardTitulo{
        margin-top: 0.5rem;
        h3{
            padding: 0.25rem;
        }

    }

}